Dockerfile
.dockerignore
**/.env
docker-compose.yml
docker-compose *
logs/
SetUpScript
TestingSQLScripts
venv
db.sqlite3
*.txt
!requirements.txt
*.pip
CACHE
test.py
__pycache__
*.log
*.logs
___Prequirements.pip
dev_box